$height: 40px;
$width: 70px;
.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  top: 24em;

  input[type="checkbox"] {
    display: none;
  }
  input:checked + .knob {
    animation: colorChange 0.4s linear forwards;
  }
  input:checked + .knob:before {
    animation: turnON 0.4s linear forwards;
  }
}

@keyframes colorChange {
  from {
    background-color: #ccc;
  }
  50% {
    background-color: #808080;
  }
  to {
    background-color: #383838;
  }
}
@keyframes turnON {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX($width - ($height * 0.99));
    box-shadow: -10px 0px 44px 0px #434343;
  }
}

.knob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: $height;
}

.knob:before {
  position: absolute;
  background-color: white;
  content: "";
  left: $height * 0.1;
  top: $height * 0.1;
  width: ($height * 0.8);
  height: ($height * 0.8);
  border-radius: 50%;
}
