body {
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
}

.container-table {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table {
  margin: 0;
  padding: 0;
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    text-align: left;
  }
  .table-header {
    background-color: #35333b;
    color: #fcfcfc;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    font-size: 1.3em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 5%;
  }
  .col-3 {
    flex-basis: 45%;
  }
  .col-4 {
    flex-basis: 15%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
      font-size: calc(0.5em + 2vw);
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 30%;
        text-align: left;
      }
    }
    @media all and (max-width: 480px) {
      .table-row {
        font-size: calc(0.1em + 2vw);
      }
    }
  }
}

li .clickable {
  cursor: pointer;
  &:hover {
    color: lightcoral;
  }
}
